.container {
  margin: auto;
  height: 100%;
  width: 900px;
  footer {
    margin-top: 20px;
  }
}

/* Form */


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

form {
  margin-top: 40px;
  text-align: center;
  select {
    width: 95px;
  }
}

#contact-area {
  width: 600px;
  margin-top: 25px;
  margin-left: 90px;
}
